[Desktop Entry]
Comment=
Terminal=false
Name=ARNU
Exec=sh /usr/share/arnu/lauchapplication.sh
Type=Application
Icon=/usr/share/arnu/icone.jpg
Name[pt_BR]=ARNU
Categories=Education;
Comment[pt_BR.UTF-8]=Arredondamento de Números
