[Desktop Entry]
Comment=
Terminal=false
Name=ARNU
Exec=arnu
Type=Application
Icon=/usr/share/arnu/arnu.svg
Name[pt_BR]=ARNU
Categories=Education;
Comment[pt_BR.UTF-8]=Arredondamento de Números
